{% extends "base.html" %}

{% block content %}
<div class="page-header">
    <h2>Clients</h2>
    <a href="{{ url_for('clients.new_client') }}" class="btn primary">Create New Client</a>
</div>

{% if not clients %}
    <p>No client(s) found.</p>
{% else %}
    <table class="data-table">
        <thead>
            <tr>
                <th class="text-left">Name</th>
                <th class="text-left">Client Code</th>
                <th class="text-center">No. of linked contacts</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td class="text-left">
                    <a href="{{ url_for('clients.edit_client', client_id=client['id']) }}">{{ client['name'] }}</a>
                </td>
                <td class="text-left">{{ client['client_code'] }}</td>
                <td class="text-center">{{ client['contact_count'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}

